<div id="login">
  <h1>Login Page</h1>

  <div class="input-area">
    <div>
      <form action="/user/login" method="POST">
        <div>
          <input
            type="text"
            name="phone"
            placeholder="Phone"
            class="form-control"
          />
        </div>
        <div>
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
